.container{
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
}


/* messages */
.messages-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    padding: 1.5rem;
    overflow: auto; 
}