.container{
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    position: relative; 
    height:85vh;
}

.messages-wrapper{
  overflow-y: auto;
  height: calc(100% - 50px); 
  background: yellow;
  /* max-height: 95%; */
}


/* messages */
.messages-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    overflow: auto; 
    height: 100%;
    background: yellow;
}

.message-box div div{
    white-space: normal!important;
}

.message-box div div span{
    background-color: transparent!important;
}

/* .typing-indicator{
    position: absolute;
    bottom: 1rem !important;
    width: max-content!important;
} */

 .input-box{
    position: absolute;
    bottom: 0;
    width:100%; 
    background: #fff;
}

.messages-wrapper::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
  }