.container{
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
}


/* messages */
.messages-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    padding: 1.5rem;
    overflow: auto; 
}

.message-box div div{
    white-space: normal!important;
}

.message-box div div span{
    background-color: transparent!important;
}
.input-box{
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    width:90%;
    background: #fff;
}